import collections

from Products.DataCollector.plugins.CollectorPlugin import (
    SnmpPlugin, GetTableMap,
    )

from Products.DataCollector.plugins.DataMaps import ObjectMap, RelationshipMap

class ${plugin}(SnmpPlugin)
    def process(self, device, results, log):
        maps = []
        return maps
