<?xml version="1.0" encoding="utf-8"?>
<configure xmlns="http://namespaces.zope.org/zope">

    <include package="ZenPacks.zenoss.Impact" file="meta.zcml"/>

#for $c in $components.values()
#if $c.hasImpact
    <subscriber
        provides="ZenPacks.zenoss.Impact.impactd.interfaces.IRelationshipDataProvider"
        for=".${c.shortklass}.${c.shortklass}"
        factory="impact.${zenpack.prepname}_${c.shortklass}RelationsProvider"
        />

#end if
#end for
</configure>
