$zenpack.license.header

__doc__="""

MemoryModeler  SNMP plugin gathers basic data on a Dell blade device

"""

import logging
from Products.DataCollector.plugins.CollectorPlugin import SnmpPlugin, \
        GetTableMap
from Products.DataCollector.plugins.DataMaps import ObjectMap
