[run]
omit =
       *async*
       *cgi*
       *inflect*
       *mimetools*
       *mimetypes*
       *mock*
       *rfc822*
       *smmap*
       *subprocess*
       *gitdb*
       *git*
       *Cheetah*
       *memoize*
